<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.my/featurelist/myfeaturelist/MyFeatureList"
			class = "my.xtext.featurelist.myfeaturelist.myFeatureList.MyFeatureListPackage"
			genModel = "model/generated/MyFeatureList.genmodel" />
	</extension>
</plugin>
